<h1 class='welcome col-xs-10 col-xs-offset-1'> Welcome to the hub for all of my favorite movies, TV shows, books and music! </h1>

    <div class="clear"></div>

<br /><br /><br /><br />

  <div class="content-box col-xs-4 col-xs-offset-1">
    <h2> Music </h2>
      <p>

      </p>
  </div>

  <div class="content-box col-xs-4 col-xs-offset-2">
    <h2> Movies </h2>
      <p>

      </p>
  </div>

  <div class="clear"></div>

<br /><br /><br /><br />

  <div class="content-box col-xs-4 col-xs-offset-1">
    <h2> TV Shows </h2>
      <p>

      </p>
  </div>

  <div class="content-box col-xs-4 col-xs-offset-2">
    <h2> Books </h2>
      <p>

      </p>
  </div>
<!-- <% @items.each do |item| %>
  <div>
    <h1> <%= item.title %> </h1>
    <p> <%= item.content %> </p>
  </div>
<% end %> -->
